@tailwind base;
@tailwind utilities;
@layer utilities {
  .radio-checked-style * {
    background: #3f3a5a !important;
    opacity: 1 !important;
  }
  .checkbox-checked-style * {
    opacity: 1 !important;
  }
}
// @tailwind components;

:root {
  --color-primary-main: #137c4b;
  --color-primary-light: #c2e3d4;
  --color-primary-dark: #1d1d1d;
  --color-primary-white: #fff;
  --color-label: #9999b4;
  --color-text: #666668;
  --color-error: #c31331;
  --color-error-light: rgba(195, 19, 48, 0.151);
  --color-warn: #ff7115;
  --color-warn-light: rgba(255, 114, 20, 0.199);
  --color-bg: #f0f2f5;
  --color-input: #f0f2f3;
  --color-border: #ebebeb;

  --border-radius-primary: 0.8rem;
  --border-radius-secondary: 1.6rem;

  --height-primary: 48px;
  --height-input: 5.6rem;

  --shadow-primary: 8px 20px 30px rgba(26, 142, 240, 0.05);
}

// html {
//   -webkit-appearance: button;
//   background-color: revert !important;
//   background-image: revert !important;
// }

html {
  font-size: 55.3%;
  @media (min-width: 1600px) {
    font-size: 60.5%;
    // font-size: 62.5%;
  }
}

body {
  outline-color: #137c4b;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  color: var(--color-grey-text);
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--color-bg);

  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

.scroll_hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll_hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  // border: none;
  // background-color: black;
  -webkit-text-fill-color: unset;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.selectedType{
  background-color: #F0F2F3;
  // padding: 3rem;
  height: 6rem;
  width:  100%;
  color:#9999B4;
  border-radius: 8px;
  outline: none;
  border: 0px;
}
.selectedOption{
  background-color: white;
  // padding: 3rem;
  
}

.deco {
  position: absolute;
}
.cross {
  animation: rotate 6s linear 0s infinite;
}
.expander {
  animation: expand-in 6s ease-in-out 0s infinite alternate;
}
.spinner{
  &-fast{
    animation: 2s spin infinite linear;
  }
  &-slow{
    animation: 3.5s spin infinite linear;
  }
  &-slower{
    animation: 6.5s spin infinite linear;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.relative-position {
  position: relative;
  z-index: 3;
}
.myDIV {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {transform: rotate(180deg);}
}

.rand{
  background: linear-gradient(90deg, #638D33 0%, #89C149 100%);
  // opacity: 0.1;
  filter: blur(100px);
}
.faint{
  background: linear-gradient(90deg, #638D33 0%, #89C149 100%);
  // opacity: 0.1;
  filter: blur(100px);
}

.testCard{
  background: #FFFFFF;
box-shadow: 0px 9px 34px rgba(0, 0, 0, 0.04);
border-radius: 16px;
}